@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// outline-style: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: middle;
	border: 0;
}

a {
	color: #777;
	text-decoration: none;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Pretendard', 'Malgun Gothic', 'Dotum', 'AppleGothic', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.45px;
	overflow-x: hidden;
}

/* 공통영역 */
.clearfix::after {
	content: '';
	position: relative;
	display: block;
	clear: both;
}

.inner {
	position: relative;
	display: block;
	width: 1600px;
	margin: 0 auto;
}

/* 전체 */
.wrap {
	position: relative;
	display: block;
	padding-top: 250px;
}

/* 헤더 */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	padding: 25px 0;
	background-color: #fff;
	z-index: 9999;
	transition: all 0.5s;



	.header-nav {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);

		.header-btn-open {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%) scale(1);
			display: block;
			width: 35px;
			height: 14px;
			background: url('../images/header_btn.svg') no-repeat center;
			background-size: cover;
			border: 0;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			transition-property: opacity, visibility, transform;
			transition-duration: 0.3s;
			transition-delay: 0s;
		}

		.header-btn-open::after {
			content: 'Menu';
			position: absolute;
			top: 50%;
			right: -70px;
			transform: translateY(-50%);
			color: #000;
			font-size: 22px;
			line-height: 14px;
			font-weight: bold;
			margin-top: 1px;
		}

		.header-btn-close {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			display: block;
			width: 36px;
			height: 36px;
			background: url('../images/header_btn_close.svg') no-repeat center;
			background-size: cover;
			border: 0;
			cursor: pointer;
			opacity: 0;
			visibility: hidden;
			transition-property: opacity, visibility, transform;
			transform: translateY(-50%) scale(0);
			transition-duration: 0.3s;
			transition-delay: 0s;
		}




		.hd-btn-open {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-50%) scale(0);
		}

		.hd-btn-close {
			opacity: 1;
			visibility: visible;
			transform: translateY(-50%) scale(1);
		}



	}



	.logo {
		margin: 0 auto;
		width: 90px;

		.header-logo {
			position: relative;
			display: block;
			font-size: 0;
			width: 90px;
			height: 76px;
			background: url('../images/logo.svg') no-repeat center;
			background-size: cover;
		}
	}


	.header-sitemap {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 178px;

		.sitemap {
			position: relative;
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding: 12px 30px 12px 0;
			font-size: 16px;
			line-height: 1.4em;
			color: #000;
			font-weight: bold;
			position: relative;
		}

		.sitemap-bar {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			animation: gowidth 1s ease-in forwards;
			animation-delay: 0.2s;
			overflow: hidden;
		}

		.sitemap-bar::after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #000000;
			display: block;
		}

		.sitemap-depth1 {
			position: absolute;
			margin-top: 15px;
			padding: 10px 17px;
			background: #fff;
			left: 0;
			right: 0;
			display: none;
			border: 2px solid #000;

			li {
				a {
					display: block;
					font-size: 15px;
					line-height: 14px;
					color: #000;
					margin-bottom: 10px;
					font-weight: 500;
					margin-top: 15px;
				}
			}
		}
	}

	.header-sitemap::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		display: block;
		width: 8px;
		height: 8px;
		background: url('../images/sitemap-arrow.svg') no-repeat center;
		background-size: cover;
	}
}
.header-close {
	position: fixed;
	top: -200px;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	padding: 25px 0;
	background-color: #fff;
	z-index: 9999;
	transition: all 0.5s;
}

@keyframes gowidth {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}


.main-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 900;
	background-color: #fff;
	padding-top: 200px;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: 0.4s;
	.main-nav-title {
		font-size: 30px;
		line-height: 1.2em;
		color: #000;
		font-weight: bold;
		margin-bottom: 35px;
	}

	.main-nav {
		li {
			margin-top: 45px;
			font-size: 0;
			line-height: 0;
			position: relative;

			a {
				position: relative;
				display: block;
				font-size: 55px;
				line-height: 1.1em;
				color: #000000;
				font-weight: bold;
			}
		}
	}
}


.main-header-open {
	opacity: 1;
	visibility: visible;
}


// scss 진행중





/* 어바웃 */
.about {
	position: relative;
	display: block;
	background-color: #fff;
	margin-bottom: 80px;

	.mainlogobox {
		position: relative;
		display: block;
		height: 98px;
		overflow: hidden;

		.mainlogo {
			position: relative;
			top: 0;
			display: block;
			width: 600px;
			height: 100%;
			background: url('../images/main_logo.svg') no-repeat center;
			background-size: cover;
			font-size: 0;
			animation: goUp 0.5s forwards;
		}
	}

	.about-info {
		position: relative;
		display: block;
		height: 80px;
		margin-top: 48px;
		font-size: 24px;
		font-weight: 500;
		overflow: hidden;

		.about-left {
			position: relative;
			top: 0;
			display: block;
			height: 100%;
			float: left;
			animation: goUp 0.5s forwards;
			overflow: hidden;

			.about-left p {
				position: relative;
				display: block;
			}
		}

		.about-right {
			position: relative;
			display: block;
			float: right;

			.about-btn {
				position: relative;
				display: block;
				width: 230px;
				height: 0;
				text-align: center;
				/* border: 2px solid #000; */
				padding: 18px 24px;
				white-space: nowrap;
				animation: goheight 1s ease-in forwards;

				.brand {
					font-size: 20px;
					color: #000;
					white-space: nowrap;
				}

				.brand::before {
					content: "";
					width: 0%;
					height: 2px;
					background-color: #000;
					position: absolute;
					top: 0;
					left: 0;
					animation: gowidth 1s forwards;
					animation-delay: 0.2s;
				}

				.brand::after {
					content: "";
					width: 0%;
					height: 2px;
					background-color: #000;
					position: absolute;
					bottom: 0;
					right: 0;
					animation: gowidth 1s forwards;
					animation-delay: 0.2s;
				}
			}

			.about-btn::before {
				content: "";
				width: 2px;
				height: 0%;
				background-color: #000;
				position: absolute;
				top: 0;
				left: 0;
				animation: goheight 1s forwards;
				animation-delay: 0.2s;
			}

			.about-btn::after {
				content: "";
				width: 2px;
				height: 0%;
				background-color: #000;
				position: absolute;
				bottom: 0;
				right: 0;
				animation: goheight 1s forwards;
				animation-delay: 0.2s;
			}
		}
	}
}

@keyframes goUp {
	from {
		transform: translateY(102%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes goheight {
	from {
		height: 0;
	}

	to {
		height: 100%;
	}
}

@keyframes gowidth {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}



/* 비주얼 */
.visual {
	height: 730px;
	position: relative;
	overflow: hidden;
	margin-bottom: 140px;

	.visual-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		height: 135%;
		/* padding: 500px 0; */
		background: url('../images/visualbackground.png') no-repeat center top;
		background-size: cover;
		background-attachment: fixed;
	}

	.visual-txt {
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		display: block;
		font-size: 112px;
		color: #fff;
		white-space: nowrap;
	}
}




/* 서비스 */
.service {
	position: relative;
	display: block;
	margin-bottom: 150px;

	.service-wrap {
		position: relative;
		display: block;

		.service-swiper {
			position: relative;
			display: block;

			.service-top {
				position: relative;
				display: block;

				.service-title {
					position: relative;
					display: block;
					font-size: 80px;
					font-weight: 700;
				}

				.sw-service-control {
					position: absolute;
					bottom: 20px;
					right: 0;
					overflow: hidden;

					.sw-service-prev {
						position: relative;
						display: block;
						float: left;
						width: 50px;
						height: 15px;
						background: url('../images/service_arrow_prev.svg') no-repeat center;
						background-size: cover;
						border: 0;
						margin-right: 20px;
					}

					.sw-service-next {
						position: relative;
						display: block;
						float: right;
						width: 50px;
						height: 15px;
						background: url('../images/service_arrow_next.svg') no-repeat center;
						background-size: cover;
						border: 0;
					}

					.swiper-button-disabled {
						opacity: 0.15;
					}

				}

			}

			.sw-service {
				position: relative;
				z-index: 1;
				overflow: visible;

			}

			.swiper-wrapper {

				.swiper-slide {
					position: relative;
					transition-property: margin-right;
					transition-duration: 0.7s;
					// display: block;

					.swiper-box {
						position: relative;
						display: block;
						width: 500px;

						.swiper-box img {
							position: relative;
							display: block;
							width: 100%;
						}

					}

					.swiper-box-desc {
						position: absolute;
						left: 470px;
						top: 0;
						overflow: hidden;
						padding-left: 80px;
						width: 535px;
						height: 500px;

						.swiper-ani-title-box {
							overflow: hidden;

							.swiper-box-title {
								position: relative;
								display: block;
								font-size: 60px;
								line-height: 1.4em;
								color: #000;
								font-weight: bold;
								margin-bottom: 105px;
								transform: translateY(200%);
								transition-property: transform;
								transition-duration: 0.5s;
								transition-delay: 0.5s;

							}
						}

						.swiper-box-nb {
							position: relative;
							display: block;
							font-size: 30px;
							line-height: 1.2em;
							color: #000;
							font-weight: bold;
							margin-bottom: 10px;
						}

						.swiper-ani-txt-box {

							overflow: hidden;

							.swiper-box-txt {
								position: relative;
								display: block;
								font-size: 40px;
								line-height: 1.4em;
								color: #000;
								font-weight: bold;
								transform: translateY(200%);
								transition-property: transform;
								transition-duration: 0.5s;
								transition-delay: 0.5s;
							}
						}

						.swiper-box-txt-bottom {
							font-size: 20px;
							line-height: 1.6em;
							color: #000;
							margin-top: 27px;
						}
					}
				}

				.swiper-slide-active {
					margin-right: 570px;

					.swiper-box-desc {
						.swiper-ani-title-box {

							.swiper-box-title {
								transform: translateY(0);
								transition-duration: 0.5s;
								transition-delay: 0.5s;
								transition-property: transform;
							}
						}

						.swiper-ani-txt-box {
							.swiper-box-txt {
								transform: translateY(0);
								transition-duration: 0.5s;
								transition-delay: 0.5s;
								transition-property: transform;
							}
						}
					}
				}
			}

		}
	}
}






/* 상품 */
.product {
	position: relative;
	display: block;
	margin-bottom: 150px;

	.product-wrap {
		position: relative;
		display: block;

		.productbanner {
			margin-bottom: 50px;
			position: relative;
			height: 360px;
			overflow: hidden;

			.productimg {
				// position: absolute;
				// top: 0;
				// left: 0;
				// right: 0;
				// display: block;
				// height: 360px;
				background: url('../images/productbanner.png') no-repeat center;
				// background-size: contain;
				// background-attachment: fixed;

				display: block;
				position: absolute;
				top: -35%;
				left: 0;
				right: 0;
				height: 135%;
				background-size: cover;
				background-position: center center;
			}
		}

		.productbanner::after {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color:
				rgba(0, 0, 0, 0.1);
			z-index: 5;
		}

		.productdesc {
			position: relative;
			display: block;

			.product-info {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow: hidden;

				.product-title {
					position: relative;
					top: 0;
					display: block;
					height: 100%;
					animation: goUp 0.5s forwards;
					overflow: hidden;

					span {
						font-size: 80px;
						line-height: 1.2em;
						color: #000;
						font-weight: bold;
					}
				}

				.product-txt {
					font-size: 24px;
					font-weight: 500;
					line-height: 1.7;
					color: #101010;
					padding-right: 500px;

				}

				.product-btn {
					position: relative;
					display: block;
					width: 230px;
					font-size: 20px;
					line-height: 1.2em;
					color: #000;
					font-weight: bold;
					white-space: nowrap;
					padding: calc(22px + 2px) calc(35px + 2px);
					text-align: center;

					.pd-button {
						font-size: 20px;
						color: #000;
						white-space: nowrap;
					}

					.pd-button::before {
						content: "";
						width: 0%;
						height: 2px;
						background-color: #000;
						position: absolute;
						top: 0;
						left: 0;
						animation: gowidth 1s forwards;
						animation-delay: 0.2s;
					}

					.pd-button::after {
						content: "";
						width: 0%;
						height: 2px;
						background-color: #000;
						position: absolute;
						bottom: 0;
						right: 0;
						animation: gowidth 1s forwards;
						animation-delay: 0.2s;
					}

				}

				.product-btn::before {
					content: "";
					width: 2px;
					height: 0%;
					background-color: #000;
					position: absolute;
					top: 0;
					left: 0;
					animation: goheight 1s forwards;
					animation-delay: 0.2s;
				}

				.product-btn::after {
					content: "";
					width: 2px;
					height: 0%;
					background-color: #000;
					position: absolute;
					bottom: 0;
					right: 0;
					animation: goheight 1s forwards;
					animation-delay: 0.2s;
				}
			}
		}
	}

}

/* 문의 */
.inquiry {
	position: relative;
	display: block;

	.inquiry-container {
		position: relative;
		display: block;
		overflow: hidden;

		.inquiry-title {
			position: relative;
			display: block;
			font-size: 20px;
			line-height: 1.4em;
			color: #000;
			font-weight: bold;
			margin-bottom: 35px;
			padding-top: 46px;
		}

		.inquiry-subtitle {
			position: relative;
			display: block;
			font-size: 40px;
			line-height: 1.3em;
			color: #000;
			font-weight: bold;
			overflow: hidden;

			span {
				position: relative;
				top: 0;
				display: block;
				height: 100%;
				animation: goUp 0.5s forwards;
				overflow: hidden;
			}
		}

		.inquiry-desc {
			position: relative;
			display: block;

			.inquiry-txt {
				position: relative;
				display: block;
				margin-top: 27px;
				font-size: 24px;
				line-height: 1.5em;
				color: #000;
			}

			.inquiry-btn {
				position: relative;
				display: block;

				a {
					position: absolute;
					right: 0;
					bottom: 0;
					display: block;
					width: 60px;
					height: 18px;
					background: url('../images/service_arrow_next.svg') no-repeat center;
					background-size: cover;
				}
			}
		}

	}

	.inquiry-container::before {
		content: '';
		position: relative;
		display: block;
		height: 2px;
		width: 0;
		background-color: #000;
		animation: gowidth 1s ease-in forwards;
		animation-delay: 0.2s;
	}
}

/* 푸터 */
.footer {
	position: relative;
	display: block;
	margin-top: 150px;

	.footer-container {
		position: relative;
		display: block;
		border-top: solid 1px #000;
		padding: 75px 0px 100px;
		position: relative;

		.footer-nav {
			position: relative;
			display: block;

			.footer-depth1 {
				position: relative;
				display: block;
				margin-bottom: 24px;

				li {
					position: relative;
					display: inline-block;
					padding: 0 20px;
					padding-right: 40px;

					.email {
						position: relative;
						display: block;
						font-size: 16px;
						line-height: 1.4em;
						color: #000;
						font-weight: 700;
					}

					.email::after {
						content: '';
						position: absolute;
						right: -25px;
						top: 3px;
						display: block;
						width: 14px;
						height: 15px;
						background: url('../images/ico_new_window.svg') no-repeat center;
						background-size: cover;
					}

					a {
						position: relative;
						display: block;
						font-size: 16px;
						line-height: 1.4em;
						color: #000;
						font-weight: 500;
					}
				}

				li::after {
					content: "";
					width: 1px;
					height: 11px;
					background-color: #CCCCCC;
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}

				li:last-child::after {
					display: none;
				}

				li:first-child {
					padding-left: 0;
				}
			}
		}

		.address {
			position: relative;
			display: block;
			font-size: 16px;
			line-height: 1.6em;
			color: #000;
			margin-top: 5px;
		}

		.company {
			position: relative;
			display: block;
			font-size: 16px;
			line-height: 1.6em;
			color: #000;
			margin-top: 5px;
			margin-bottom: 42px;
		}
		.copy {
			position: relative;
			display: block;
			font-size: 14px;
			line-height: 1.5em;
			color: #555555;
		}
	}
	.ismslogo{
		position: relative;
		display: block;
    line-height: 0;
    width: 94px;
    position: absolute;
    top: 75px;
    right: 0;
		img{
			max-width: 100%;
			height: auto;
		}
	}
}